<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obl.app"
    android:versionCode="2"
    android:versionName="1.1">

    <application
        android:debuggable="false"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.obl.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obl.app.DisplayVolumes"
            android:label="@string/title_activity_display_volumes"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.obl.app.bloodloss"
            android:label="@string/title_activity_bloodloss" >
        </activity>
    </application>

</manifest>
